<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{index.page.title}">Title</title>
    <meta name="description" content="Tomas Kadlcek Portfolio website">
    <meta name="author" content="templatemo">


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/templatemo-style.css" rel="stylesheet" media="screen"
          th:href="@{/css/templatemo-style.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="templatemo-container">
<!-- header -->
<div class="header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 site-name-container">
                <h1 class="site-name">T. Kadlcek</h1>
            </div>
            <div class="mobile-menu-icon">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-8 templatemo-nav-container">
                <nav class="templatemo-nav">
                    <ul>
                        <li><a th:href="index">About me</a></li>
                        <li><a th:href="experience">Skills</a></li>
                        <li><a th:href="projects">Projects</a></li>
                        <li><a th:href="contact" class="active">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- main content -->
<section class="templatemo-container section-shadow-bottom">
    <div class="container">
        <div class="row section-title-container">
            <div class="col-lg-12 text-uppercase text-center">
                <h2 class="section-title">Contacts</h2>
                <div class="section-title-underline-blue"></div>
                <hr class="section-title-underline">
                <p class="small">Tomáš Kadlček</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 contact-left">
                <h3 class="section-title-2 text-uppercase font-weight-300"><b>My Contact Details</b></h3>
                <p class="margin-bottom-30">Thank you for visiting my page. Do not hesitate to contact me.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 contact-left">
                    <div class="contact-point">
                        <i class="fa fa-map-marker fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Address</b>
                            <p class="contact-point-detail">Drobného 76a, 602 00 Brno-sever</p>
                        </div>
                    </div>
                    <div class="contact-point">
                        <i class="fa fa-envelope-o fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Email</b>
                            <p class="contact-point-detail">kadlcek.tomas@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-point">
                        <i class="fa fa-phone fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Phone</b>
                            <p class="contact-point-detail">+420 730 844 830</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 contact-left">
                    <div class="contact-point">
                        <i class="fa fa-github fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">GitHub</b>
                            <p class="contact-point-detail"><a href="https://github.com/TomasKadlcek">github.com/TomasKadlcek</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-point">
                        <i class="fa fa-linkedin fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Indeed</b>
                            <p class="contact-point-detail"><a href="www.linkedin.com/in/tomaskadlcek">linkedin.com/in/tomaskadlcek</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-point">
                        <i class="fa fa-facebook fa-3x contact-point-icon blue-text"></i>
                        <div class="contact-point-detail-container">
                            <b class="text-uppercase contact-point-title blue-text font-weight-700">Facebook</b>
                            <p class="contact-point-detail"><a href="facebook.com/KadlcekTomas">Tomáš Kadlček</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end section content -->
        </div>
    </div>
</section>

<!-- end main content -->
<footer class="text-center">
    <p class="small copyright-text">Copyright &copy; 2020 Tomáš Kadlček</p>
</footer>

<!-- JS -->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
<script type="text/javascript" src="js/responsiveCarousel.min.js"></script>      <!-- Carousel -->
<script type="text/javascript" src="js/templatemo-script.js"></script>      <!-- Templatemo Script -->
<script>

            $(function() {
                $('.crsl-items').carousel({
                    visible: 1,
                    itemMinWidth: 320,
                    itemEqualHeight: 320,
                    itemMargin: 9,
                });
                $(".crsl-nav a[href=#]").on('click', function(e) {
                    e.preventDefault();
                });
            });



</script>
</body>
</html>
